In [1]:
# Tuple: Data Structure of Python Programming
# Tuple is Immutable whereas List is mutable


tup = () #Define tuple : tup()
tup = (1,2,3,4,5,6,7)
tup = ('Hii','Hello','Bye','Welcome')
tup = (1.11,2.222,3.43434)
tup = (True,False)

In [2]:
tup = (10,20,30,2.121,4343.232323,'Helloworld',True,False)

In [3]:
tup.count(20)

1

In [4]:
tup.index(30)

2

In [5]:
# Using Concept of Indexing and Slicing
tup = (100,200,(300,400,[500,600,700,800],1,2,3),4,5)
print(tup[2][2][1:3])

[600, 700]

In [6]:
# Dictionary : Data Structure of Python Programming
# Dictionary is Mutable in Nature
'''
dict = {'Key': Value}
'''
d = {'Country':['India','USA','UK'],
     'GDP':[9,6,8]}

print(d)

{'Country': ['India', 'USA', 'UK'], 'GDP': [9, 6, 8]}

In [7]:
# Using Concept of Indexing
d['Country']

['India', 'USA', 'UK']

In [8]:
d['Country'][1]

'USA'

In [9]:
d['GDP'][2]

8

In [10]:
d['GDP'][:2]

[9, 6]

In [11]:
d.keys()

dict_keys(['Country', 'GDP'])

In [12]:
d.items()

dict_items([('Country', ['India', 'USA', 'UK']), ('GDP', [9, 6, 8])])

In [13]:
d.values()

dict_values([['India', 'USA', 'UK'], [9, 6, 8]])

In [14]:
d.clear()

In [15]:
d

{}

In [ ]:
a = tup1 = (1,2,3,4)
b = tup2 = (5,6,7,8)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [17]:
print(tup1*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [18]:
# loops
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
# for horizonatal output
for i in range(0,10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [20]:
#If Else Logic
if True:
    print('Hiii')
else:
    print('False')

Hiii

In [21]:
num = 1000
if num <=200:
    print('Num is less than 200')
else:
    print('Num is grater than 200')

Num is grater than 200

In [23]:
marks = float(input('Enter the Marks:'))
if marks >= 60:
    print('Student is Bright.')
else:
    print('Student is weak.')

Student is Bright.

In [ ]:
'''
Step1 : Enter the marks from User
Step2 : Logic Building
        80 >= Bright Student
        60 and 79 : Good Student
        40 and 59 : Average Student 
        below 40  : Weak Student

'''
marks = float(input('Enter the Marks:'))
if marks >= 80:
    print('Student is Bright.')
elif marks >60 and marks >79:
    print('Good Student.')
elif marks >40 and marks < 59:
    print('Average Student.')
else:
    print ('Weak Student')

Student is Bright.

In [ ]:
# Print whether the given string is palindrome or not
'''
Step1 : Input a string from user 
Step2 :
        string = Text 
        string = string [::-1]
        if condition :
        else: 
           conduction

'''
string = input('Enter the String: ')
string1 = string[::-1]

if string.lower() == string1.lower():
    print('The Entered String is Palindrom')
else:
    print('The Entered String is not a Palindrom')

The Entered String is Palindrom

In [ ]:
#PENDAS:P – Parentheses,E – Exponents,MD – Multiplication and Division (left to right),AS – Addition and Subtraction (left to right)

(100*2+(30/2))

215.0

In [ ]:
(100*2+(30//2))

215

In [ ]:
20**2

400