In [5]:
'''
*
**
***
****
*****
******
'''

for i in range(1,7):
    print(i *"*")

*
**
***
****
*****
******

In [6]:
100+200

300

In [7]:
300-200

100

In [8]:
# /:Answer will be in Float
100/2

50.0

In [9]:
#//: Answer will be in int
100//2

50

In [10]:
# Moduleo operator
100%2

0

In [11]:
100%3

1

In [12]:
# Exponent Operator : **

print(10**2)
print(4**0.5)

100
2.0

In [13]:
(10**2+345-23+(20//2))

432

In [14]:
''' 
Step1: Ask the user to enter the value
Step2: Check whether the number is even or not
'''
a = float(input ("Enter the Number"))
if a % 2 == 0:
    print('Entered Number in Even')
else:
    print('Entered Number is Odd')

ValueError: could not convert string to float: ''

In [ ]:
a = ['Hii','World','Python']
for i in a:
    print(i.lower())

hii
world
python

In [ ]:
it will break the loop
for i in range(0,10):
    print(i)
    break

0

In [ ]:
for i in range(1,6):
    print(i)
    continue

1
2
3
4
5

In [ ]:
for i in range(1,6):
    print(i)
    pass

1
2
3
4
5

In [17]:
for i in range(0,6):
    pass
    print(i)  
for i in range(1,5):
    print(i)
    continue

0
1
2
3
4
5
1
2
3
4

In [18]:
for i in range(10,15):
    print(i)
    break
    for i in range(0,10,2):
        print(i)
        pass

10

In [19]:
for i in range(10,15):
    print(i)
    pass
    for i in range(0,10,2):
        print(i)
        break

10
0
11
0
12
0
13
0
14
0

In [20]:
count = 0

while i<10:
    print(i)
    i = i + 2

0
2
4
6
8

In [21]:
# Function Defination

#Function Defintion: sum()
def sum():
    num1 = 100   # local Variable : Attributes
    num2 = 300   # local Variable : Attributes

    num3 = num1+num2
    print(f'The Addition of Two Numbers {num1} and {num2} is {num3}')

#Function Calling 
sum()

The Addition of Two Numbers 100 and 300 is 400

In [22]:
num4 = 1000  # Global Variable

def sum():
    global num4
    num1 = 100   # local Variable : Attributes
    num2 = 300   # local Variable : Attributes

    num3 = num1+num4
    print(f'The Addition of Two Numbers {num1} and {num4} is {num3}')

#Function Calling 
sum()

The Addition of Two Numbers 100 and 1000 is 1100

In [23]:
# Define Global Variables num1 and num2
num1 = float(input('Enter the First Number: '))
num2 = float(input('Enter the Secound Number: '))

# Define sum function with arguments a & b

def sum(a,b):
    a+b
    return (a+b)

# Calling sum function and returned value must be stored in variable 'ans'
ans = sum(num1,num2)
print(ans)

200.0